@font-face {
    font-family: "JetBrainsMono";
    src: url("../fonts/JetBrainsMono-Light.woff2") format("woff2");
    font-weight: 200;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("../fonts/JetBrainsMono-SemiBold.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("../fonts/JetBrainsMono-Bold.woff2") format("woff2");
    font-weight: 800;
}

