* {
    font-family: JetBrainsMono;
}

body {
    background-color: var(--bg-color);
}

.everything-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.main-text-svg {
    transform: scale(2.5);
    margin-left: 550px;
}

li a {
    color: var(--text-color);
    background-color: var(--secondary-bg-color);
    font-size: 35px;
    font-weight: 200;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 0.2em;
    padding-left: 5px;
    transition: padding 0.4s ease;
}


li a:hover {
    color: var(--secondary-bg-color);
    background-color: var(--text-color);
    font-weight: 350;
    padding: 0px 35px 0px 30px;
    transition: padding 0.4s ease;
}


ul {
    list-style: none;
    display: flex;
    gap: 20px;
    scale: 0.7;
}

.projects-wrapper a {
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    padding: 0px 5px 0px 5px;
    scale: 1.2;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    transition: letter-spacing 0.3s ease;
}

.projects-wrapper a:hover {
    background-color: var(--text-color);
    color: var(--secondary-bg-color);
    transition: letter-spacing 0.4s ease;
    padding: 0px 10px 0px 10px;
    letter-spacing: 10px;
}

.gallery-wrapper a {
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    padding: 0px 5px 0px 5px;
    scale: 1.2;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    transition: letter-spacing 0.3s ease;
}

.gallery-wrapper a:hover {
    background-color: var(--text-color);
    color: var(--secondary-bg-color);
    transition: letter-spacing 0.4s ease;
    padding: 0px 10px 0px 10px;
    letter-spacing: 10px;
}

.theme-button {
    color: var(--text-color);
    background-color: var(--secondary-bg-color);
    border: none;
}

.theme-button:hover {
    color: var(--bg-color);
    background-color: var(--text-color);
    border: none;
}